<div>
  <%= render 'todo', todo: @todo %>
</div>

<ul class="comments">
  <% if @comments.each do |comment| %>
  <li><%= render 'comment', comment: comment %></li>
  <% end.empty? %>
  <p> 还没有评论... </p>
  <% end %>
</ul>

<div> 添加评论：</div>
<%= simple_form_for @todo.comments.new, url: todo_comments_path(@todo), remote: true do |f| %>
  <%= f.input :content %>
  <%= f.submit %>
<% end %>
