<!DOCTYPE html>
<html>
<head>
  <title>TowerTodoEvent</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'  %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= body_classes %>">
  <div class="container">
    <div id="page-wrapper">
      <%= yield %>
    </div>
    <!-- /#page-wrapper -->
  </div>
  <!-- /#wrapper -->

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
